@model Moji.Entities.Personnage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personnage</h4>
    <hr />
    <dl class="row">
        <div class="col-4">
            <img class="imgfond affichagePersonnage" src="~/Content/fond.png" alt="" />
        </div>
        <div class="col-6 ">
            <div class="affichagePersonnageDetail">
                <p>
                    <label class="col-4">Nom : @Html.DisplayFor(model => model.Nom)</label>
                    <label class="col-4">Prénom : @Html.DisplayFor(model => model.Prenom)</label>
                    <label class="col-3">Niveau : @Html.DisplayFor(model => model.Niveau)</label>
                </p>
                <p>
                    
                    <label class="col-4">
                        Race : @Html.DisplayFor(model => model.Race.Libelle)
                    </label>
                    <label class="col-3">Classe : @Html.DisplayFor(model => model.Classe.Libelle)</label>
                </p>
                <p>
                    <label class="col-4">SanteMax : @Html.DisplayFor(model => model.SanteMax)</label>
                    <label class="col-4">ManaMax : @Html.DisplayFor(model => model.ManaMax)</label>
                </p>
                <p class="text-right">Or : @Html.DisplayFor(model => model.Or)</p>

            </div>
            <img class="mt-4" src="~/Content/image.jpg" width="80%" />
        </div>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editer</a> |
    <a asp-action="Index">Retour à la liste de personnage</a>
</div>

