@model IEnumerable<Moji.Entities.Personnage>

@{
    ViewData["Title"] = "Index";
}



<div class="col-12 ">
    <p>
        <div>
            <a class="creerPerso" asp-action="Create">Créer un nouveau personnage</a>
        </div>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Or)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.SanteMax)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ManaMax)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Niveau)
                </th>
                <th>
                    Race
                </th>
                <th class="text-center">
                    Classe
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Or)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanteMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManaMax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Niveau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClasse)
                    </td>
                    <td>
                        <button type="button" class="btn btn-success mb-2 bouttonCrePerso">
                            <a asp-action="Edit" asp-route-id="@item.Id">Editer</a>
                        </button>
                        <button type="button" class="btn btn-info mb-2 bouttonCrePerso">
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </button>
                        <button type="button" class="btn btn-danger mb-2 bouttonCrePerso">
                            <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="clear">

</div>
